<div class="row brands_top_margin">
	<div class="col-md-12">
		<h3 align="center">Navegue por los productos haciendo clic en su marca favorita. Recuerde copiar y pegar el enlace de la url de los productos que desea probar en el Formulario de solicitud.</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		 <%= image_tag('logo_zara.png', class:" d-block mx-auto" ) %>
	</div>
	<div class="col-md-3">
		<%= image_tag('logo_hm.png', class:" d-block mx-auto") %>
	</div>
	<div class="col-md-3">
		  <%= image_tag('logo_mango.png', class:" d-block mx-auto") %>
	</div>
	<div class="col-md-3">
		  <%= image_tag('logo_cfant.png', class:" d-block mx-auto") %>
	</div>
</div>

