<div class="row">
  <%= image_tag("signupheader.png", :class => "col col-md-8 offset-md-2 col-sm-12 col-xs-12  d-none d-sm-block col-sm-12") %>
</div>

<div class="row margin_for_sign_up">
  <div class="col col-md-6 offset-md-3">
    <h1 align="center">Su pedido ha sido recibido</h1>
    <h3 align="center">En breve recibirá un correo electrónico para programar su prueba y compra.</h3>
  </div>
</div>

<div class="row mt-5">
  <div class="col col-md-6 offset-md-3">
    <%= link_to "Seguir Comprando", brands_path, class: "btn btn-lg btn-drop btn-block" %>
  </div>
</div>