<div class="row mt-5">
  <%= image_tag("signupheader1.png", :class => "col col-md-8 offset-md-2 col-sm-12 col-xs-12 mt-3 d-none d-sm-block col-sm-12") %>
</div>

<div class="row margin_for_sign_up">
  <div class="col col-md-6 offset-md-3">
    <h1 align="center">Welcome to the in-crowd!</h1>
    <h3 align="center">We look forward to assisting you with all your fashion needs</h3>
  </div>
</div>

<div class="row mt-5 bottom_margin">
  <div class="col col-md-6 offset-md-3">
    <%= link_to "Start Shopping", brands_path, class: "btn btn-lg btn-drop btn-block" %>
  </div>
</div>

<%= render 'layouts/footer' %>